h2 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.contact{
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 2rem;;
}

.information {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    & span {
        margin-left: 1rem;
    }

    & a {
        background: var(--primary);
        color: var(--primary-color);
        text-decoration: none;
        padding: 0.7rem 1rem;
        margin: 1rem;
        border-radius: 9999px;
    }
}

.form {
    flex: 1;
    gap: 1rem;

    & form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & input, textarea {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 6px;
            width: 75%;
            font-size: 1rem;
            background: var(--input-bg);
            font: 1em sans-serif;
            color: var(--text-primary);
            border: none;
        }
    }

    .isSubmitted {
        background: var(--button-apply);
        pointer-events: none;
    }  
}